$banner-shadow: #bfd9e5 !default;

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: 115% 100%;
    background-image: url('../../assets/images/banner_bg.png');
    background-repeat: no-repeat;
    height: 100%;
    min-height: 320px;

    @media(min-width: $screen-md) {
        height: 540px;
        background-size: 115% 100%;
    }

    @media(min-width: $screen-lg) {
        height: 740px;
        background-size: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}

    .banner__title {
        @include font-size(22px);
        padding: 2rem 0;
        width: 100%;
        font-weight: $font-weight-semibold;
        text-align: center;

        @media(min-width: $screen-md) {
            @include font-size(32px);
        }

        @media(min-width: $screen-lg) {
            @include font-size(52px);
            padding-top: 4.3rem;
            width: 281px;
            line-height: 1.4;
            text-align: left;
        }
    }

    .banner__animation {
        width: 262px;
        height: auto;

        @media(min-width: $screen-md) {
            padding-top: 4rem;
            width: 495px;
        }

        @media(min-width: $screen-lg) {
            padding-top: 11rem;
            filter: drop-shadow(0px 8px 5px $banner-shadow);
        }

        @media(min-width: $screen-xl) {
            width: 695px;
            padding-top: 11rem;
        }
    }
