.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 2rem;
    min-width: 150px;
    min-height: 215px;

    @media(min-width: $screen-lg) {
        min-width: 223px;
        min-height: 275px;
    }
}

.member--maria {
    img {
        left: -2px;
    }

    @media(min-width: $screen-lg) {
        img {
            left: 13px;
        }
    }
}

.member__shadow {
    position: absolute;
    top: 12px;
    z-index: $search-bar-z-index;
    width: 150px;
    height: 150px;
    border-radius: $border-radius-cirlce;
    box-shadow: inset 2px 2px 8px -1px rgba($black, 0.1);

    @media(min-width: $screen-lg) {
        width: 191px;
        height: 191px;
    }
}

// 522x522
.member__picture {
    margin-bottom: 0.5rem;
    width: 170px;
    height: 162px;
    position: absolute;
    top: 0;

    @media(min-width: $screen-lg) {
        min-width: 223px;
        min-height: 205px;
    }
}

.member__position {
    @include font-size(15px);

    margin-bottom: 0.5rem;
    text-transform: uppercase;

    @media(min-width: $screen-lg) {
        @include font-size(18px);
    }
}

.member__name {
    @include font-size(15px);

    font-weight: $font-weight-semibold;
    text-transform: uppercase;

    @media(min-width: $screen-lg) {
        @include font-size(18px);
    }
}
