.our-team {
    @extend %section;
}

.our-team__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    @media(min-width: $screen-md) {
        justify-content: space-between;
    }
}
