.our-team {
    @extend %wrapper;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media(min-width: $screen-lg) {
        margin-top: -6rem;
        margin-bottom: 6rem;
        padding-top: 6rem;
    }
}

.our-team__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
