.portfolio {
    @extend %section;
}

.portfolio__list {
    display: flex;
    flex-direction: column;

    @media(min-width: $screen-sm) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        > * {
            &:nth-child(2n) {
                margin-top: 4rem;
            }
        }
    }
}
