$mobile-space: 2rem;
$desktop-space: 6rem;

.project-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-detail__header {
    @extend %wrapper;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 0 0;
    width: 100%;

    @media(min-width: $screen-lg) {
        @include font-size(36px);

        margin: $desktop-space 0;
    }
}

.project-detail__title {
    @include font-size(18px);

    margin-bottom: 1rem;
    color: $black;
    font-weight: $font-weight-normal;

    @media(min-width: $screen-lg) {
        @include font-size(36px);
    }
}

.project-detail__type {
    @include font-size(18px);

    margin-bottom: $mobile-space;
    color: $gray-97;

    @media(min-width: $screen-lg) {
        @include font-size(36px);
    }
}

.project-detail__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $mobile-space;
    width: 100%;
    height: 403px;

    @media(min-width: $screen-xl) {
        margin-bottom: $desktop-space;
        max-width: 990px;
    }
}

.project-detail__image {
    max-width: 230px;

    @media(min-width: $screen-lg) {
        max-width: auto;
    }
}

.project-details__description {
    @extend %wrapper;
    @include font-size(12px);

    margin: 0 0 $mobile-space;
    line-height: 25px;

    @media(min-width: $screen-lg) {
        @include font-size(18px);

        margin-bottom: $desktop-space;
        line-height: 35px;
    }
}

.project-detail__screen-captures {
    margin: 0 0 $mobile-space;
    width: 100%;
    height: 500px;

    @media(min-width: $screen-xl) {
        margin-bottom: $desktop-space;
        max-width: 990px;
    }
}

.project-detail__more-info {
    @extend %wrapper;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: $screen-lg) {
        margin-bottom: $desktop-space;
    }
}

.project-detail__see-this {
    @include font-size(15px);

    color: $gray-97;

    @media(min-width: $screen-lg) {
        @include font-size(24px);
    }
}

.project-detail__see-this--dark {
    color: $black;
}

.project-detail__access-website {
    @include font-size(12px);

    margin-top: 1rem;
    padding: 1rem 4rem;
    color: $white;
    font-weight: $font-weight-semibold;
    text-shadow: 0 2px 4px $gray-bc;
    background: $primary;
    box-shadow: inset 2px 2px 8px $gray-bc;

    @media(min-width: $screen-lg) {
        @include font-size(18px);

        padding: 1.5rem 6rem;
    }
}
