.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5rem;
}

.project-card__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 315px;
    height: 375px;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.1);

    @media(min-width: $screen-lg) {
        margin-bottom: 3rem;
        width: 470px;
        height: 560px;
    }
}

.project-card__image {
    width: 100%;
}

.project-card__name {
    @include font-size(15px);

    margin-bottom: 0.5rem;
    font-weight: $font-weight-semibold;

    @media(min-width: $screen-lg) {
        @include font-size(18px);
    }
}

.project-card__type {
    @include font-size(15px);

    @media(min-width: $screen-lg) {
        @include font-size(18px);
    }
}
