/*------------------------------------*\
    # Typography
\*------------------------------------*/

@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

$font-family-base: 'Montserrat', sans-serif;

// Sizes

$font-size-base: 0.875rem; // 14px
$lead-font-size: 1.5rem;

// Weights

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 700;
$font-weight-bold: 900;

// Text alignment

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

// Text colors

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-black {
    color: $black !important;
}

.text-white {
    color: $white !important;
}

.text-gray {
    color: $gray-bc !important;
}

.text-red {
    color: $red !important;
}

// Fonts

.font-roboto {
    font-family: $font-family-base;
}


// Text sizes

.text-xs {
    font-size: 0.8rem;
}


// Text boldness
.text-normal {
    font-weight: $font-weight-normal !important;
}

.text-semibold {
    font-weight: $font-weight-semibold !important;
}

.text-bold {
    font-weight: $font-weight-bold !important;
}

.text-uppercase {
    text-transform: uppercase;
}

// Font sizes

.text-sm {
    @include font-size(16px);
}

.text-lg {
    @include font-size(20px);
}


// Titles
.primary-title, %primary-title {
    @include font-size(25px);

    margin-bottom: 2rem;
    color: $primary;
    font-weight: $font-weight-bold;

    @media(min-width: $screen-md) {
        @include font-size(36px);

        margin-bottom: 3rem;
    }
}

.seconday-title, %secondary-title {
    @include font-size(20px);

    margin-left: 1rem;
    font-weight: $font-weight-bold;

    @media(min-width: $screen-md) {
        @include font-size(30px);
    }
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;

    @media(min-width: $screen-md) {
        margin-bottom: 4rem;
    }
}

.section-title__number, %secondary-title {
    @include font-size(40px);

    margin-left: 0;
    color: $seconday-transparent;
    font-weight: $font-weight-bold;
    text-shadow: 1px 2px 3px $white, 0 0 0 $secondary-shadow, 1px 4px 6px $white;

    @media(min-width: $screen-md) {
        @include font-size(70px);
    }
}

.section-title__title, %secondary-title {
    @include font-size(15px);

    margin-top: 0.5rem;
    margin-left: -0.5rem;
    font-weight: $font-weight-bold;

    @media(min-width: $screen-md) {
        @include font-size(24px);

        margin-top: 1rem;
    }
}
